/* GLOBAL AND MOBILE STYLES FIRST */
/*Styles for the entire body*/
body {
  background-color: #c0c0c0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 5px;
}
/*styles for site logo div*/
#logo {
  height: 50%;
  max-width: 200px;
}
/*styles for actual site logo*/
#logo img {
  height: 100%;
  width: 100%;
  margin-top: 5px;
}
#search {
  width:50%;
  align-items:baseline;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  background-color: #000;
}
/*This style applied to search bar*/
#search-input {
  display: none;
  color: #000;
  font-size: 1.5em;
  border: 2px solid #808080;
  border-radius: 5px;
}
/*This style applied to the cursor within search bar*/
#search-input:focus {
  color: #000;
}
/*This style applied to the search bar button*/
.search-button {
  position: relative;
  top: 30%;
  margin-left: 15px;
}
/*The class that handles the search bar icon*/
.icon {
  content: url('../content/images/search-icon.png');
  height: 20px;
  width: 20px;
}
#main-menu {
  display: block;
  text-align: right;
  margin-right: 5px;
  max-width:150px;
}
#main-menu img {
  width: 40%;
  height: 80%;
}
.display-menu {
  display: block;
}
/*Styles for the navigation menu*/
nav {
  display: none;
  background-color: #808080;
  text-align: center;
}
/*Styles for the navigation menu links*/
nav a {
  padding: 1em;
  display: block;
  text-align: center;
}
/*Default style for the navigation menu link*/
nav a:link {
  color: #fff;
}
/*This style applied to menu link if link has been visited*/
nav a:visited {
  color: #fff;
}
/*This style applied to menu link if user hovers over it*/
nav a:hover {
  background-color: #000;
  color: #fff;
}
/*This style applied to menu link if it is active*/
nav a:active {
  color: #fff;
}
#social-media {
  display: flex;
  justify-content: space-around;
}
#social-media img {
  width:20px;
  height:20px;
}
#social-media img:hover {
  border-radius:5px;
}
#social-media a {
  display: block;
  text-align: center;
  background-color: transparent;
  padding:5px 2px;
}
/*Default style for the navigation menu link*/
#social-media a:link {
  color: transparent;
}
/*This style applied to menu link if link has been visited*/
#social-media a:visited {
  color: transparent;
}
/*This style applied to menu link if user hovers over it*/
#social-media a:hover {
  background-color: transparent;
  color: transparent;
}
/*This style applied to menu link if it is active*/
#social-media a:active {
  color: transparent;
}
#resources p {
  text-align: center;
}
#facebook:hover {
  border:5px solid #0000ff;
}
#twitter:hover {
  border:5px solid #0084b4;
}
#instagram:hover {
  border:5px solid #551a8b;
}
#flickr:hover {
  border:5px solid #ff69b4;
}
#linkedin:hover {
  border:5px solid #0077B5;
}
#youtube:hover {
  border:5px solid #ff0000;
}
/*Overlay effect of modal*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  /*z-index of 99 allows element to always be in front of all other elements*/
  z-index: 99;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
/*Styles for popup modal that constains search bar*/
.popup {
  padding: 20px;
  background-color: #c0c0c0;
  border:5px solid #000;
}
/*Close button within popup modal*/
.popup .close {
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 200ms;
  font-size: 2em;
  font-weight: bold;
  color:#000;
}
#search-bar-popup {
  display: flex;
  justify-content:flex-start;
  width:75%;
}
#search-input-popup {
  border: 2px solid #808080;
  border-radius: 5px;
  font-size: 1em;
  width:100%;
}
.search-button-popup {
  padding-left: 5px;
  border: 2px solid #808080;
  border-radius: 5px;
}
.icon-popup {
  content: url('../content/images/search-icon-popup.png');
  height: 20px;
  width: 20px;
  margin-right: 2px;
}
/*This style applies to the 'main' of the web page*/
main {
  background-color: #808080;
  margin-top: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 5px;
}
main img {
  width: 100%;
}
h1 {
  color: #fff;
}
section {
  width: 100%;
  text-align: justify;
}
section p {
  padding: 3px 8px;
}
#map {
  width: 100%;
  background-color: #808080;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#videos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
video {
  width: 100%;
  height: 95%;
}
footer {
  width: 100%;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
#sitemap {
  background-color: #808080;
  padding-top:10px;
}
#sitemap a {
  display: block;
  padding:5px;
  text-decoration:underline;
  color:#fff;
  font-size:1em;
}
a {
  text-decoration: none;
}
/*Gallery page styles*/
#audi-factories {
  margin:5px;
  text-align: center;
}
#audi-factories img{
  width:96%;
  overflow:auto;
  padding-top: 5px;
  border: 3px solid #fff;
  border-radius: 3px;
}
/*Slideshow styles*/
.slideshow {
  position: relative;
  margin:15px 0px;
}
.slideshow img {
  width:100%;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.arrow-left, .arrow-right {
  background-color: #c0c0c0;
  position: absolute;
  font-size: 1em;
  border:2px solid #fff;
  z-index: 99
}
.arrow-left:hover, .arrow-right:hover {
  color:#fff;
  background-color: #000;
}
.arrow-left {
  bottom: 50%;
}
.arrow-right {
  right:0;
  bottom:50%;
}
/*Current Lineup page*/
article {
  background-color: #808080;
  width:100%;
}
aside {
  background-color: #808080;
  width:100%;
  border: 1px solid #fff;
}
#audi-models {
  display: flex;
  flex-direction: column;
  width:100%;
}
#audi-models > div {
  border:3px solid #fff;
  border-radius: 3px;
  margin: 5px auto;
}
.audi-model-left, .audi-model-right {
  text-align: center;
}
.audi-model-left h2, .audi-model-right h2 {
  background-color: #c0c0c0;
}
.audi-model-left p, .audi-model-right p {
  font-size:1.5em;
  color:#fff;
}
.audi-model-left figure, .audi-model-right figure {
  width:100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
figure img {
  margin-bottom: -4em;
  display: block;
  padding-bottom: 4px;
}
/* styles the figcaption element when the page first loads. The
  `transition` property simply "prepares" the element for a style
  transition - it does NOT trigger the transition.
  `opacity` affects the WHOLE element - at `.78` text less is harsh when
  visible. A `height` of `4em` and `padding` of `.25em` will fit 3 lines of text
  with a line-height of 1em nicely. For more, change the values.*/
figcaption {
  line-height: 1em;
  padding: .25em;
  transform: translateY(1em);
  background: #000;
  color:#fff;
  opacity: 0;
  transition: all .5s;
  text-align: justify;
}
/*These styles are applied to the `figcaption` element when hovering
  over the`figure` element. The `transition` property on `figcaption`
  above is then applied to `all` these hover styles, over 0.5 seconds.*/
figure:hover figcaption {
  transform: translateY(0em);
  opacity: 1;
}
#go-to-top {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:95%;
}
#go-to-top img {
  width:40px;
  height:40px;
}
#go-to-top img:hover {
  content: url('../content/images/arrow-top-hover.png');
}
form {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}
form label, form input {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:40%;
  margin-top: 3px;
  margin-bottom: 3px;
}
form label {
  color:#fff;
  margin-top: 5px;

}
form input {
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 1em;
}
#flickr-content img {
  margin: 5px auto;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
  header {
    width: 95%;
  }
  #logo {
    padding-right: 15px;
  }
  #search {
    display: flex;
    justify-content: space-around;
    align-items:center;
    text-align: right;
  	width:50%;
    margin-left: 10px;
    margin-right: 10px;
  }
  #search-input {
    display:inline;
    width: 95%;
    color: #000;
    font-size: 1.5em;
  }
  .search-button {
    position: static;
    margin-left: 0px;
	border: 2px solid #808080;
	border-radius: 5px;
  }
  nav {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  nav a {
    display: inline-block;
  	width:13%;
    margin-left: 0px;
    margin-right: 0px;
  	font-size:13px;
  	background-color:transparent;
  }
  #search-popup {
    display: none;
  }
  main {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  #first-video {
  	height: 380px;
    width: 100%;
  }
  #second-video {
  	height: 380px;
    width: 100%;
  }
  footer {
    width: 95%;
  }
  #sitemap a {
    display: inline;
    font-size: 0.9em;
  }
  /*slideshow styles*/
  .arrow-left, .arrow-right {
    font-size: 2em;
  }
  .audi-model-left, .audi-model-right {
    width:48%;
  }
  .audi-model-left {
    float: left;
  }
  .audi-model-right {
    float: right;
  }
  .audi-model-left img, .audi-model-right img {
    max-width: 100%;
    height: auto;
  }
  #audi-models {
    content:"";
    display: table;
    clear: both;
  }
}
/* END FIRST BREAKPOINT */

/*Added extra media query to solve navigation sizing issue*/
@media screen and (min-width: 845px) {
  #search-popup {
    display: none;
  }
  nav a {
    width:15%;
    margin-left: 0px;
    margin-right: 0px;
    font-size:17px;
  }
  #sitemap a {
    font-size: 1em;
  }
  /*Gallery page styles*/
  #audi-factories img{
    width:48%;
    overflow:auto;
  }
}

/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
  header {
    width: 90%;
  }
  #search {
  	width:50%;
    margin-left: 5px;
    margin-right: 5px;
  }
  #main-menu {
    display: none;
  }
  nav {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  nav a {
    width:15%;
    margin-left: 0px;
    margin-right: 0px;
    font-size:19px;
    background-color:transparent;
  }
  #social-media {
	display: flex;
    flex-wrap:wrap;
	width:130px;
    margin-bottom:8px;
  }
  #social-media a {
    flex-grow: 1;
	width: calc(100% * (1/3) - 5px - 5px);
	text-align:center;
  }
  #social-media a:hover {
    background-color: transparent;
    color:transparent;
  }
  #social-media img {
	margin-top:16px;
    width:30px;
    height:30px;
  }
  #search-popup {
    display: none;
  }
  main {
    width: 90%;
  }
  #videos {
	  flex-direction: row;
  }
  #first-video {
  	height: 350px;
    width: 100%;
    padding: 5px;
  }
  #second-video {
  	height: 350px;
    width: 100%;
    padding: 5px;
  }
  footer {
    width: 90%;
  }
  /*slideshow styles*/
  .arrow-left, .arrow-right {
    font-size: 4em;
  }
  .audi-model-left, .audi-model-right {
    width:32%;
  }
  .audi-model-left {
    float: left;
  }
  .audi-model-right {
    float: left;
  }
  article {
    float: left;
    width:70%;
  }
  aside {
    overflow: auto;
    overflow-y:hidden;
    width: 29%;
  }
}
/* END SECOND BREAKPOINT */
