/* GLOBAL AND MOBILE STYLES FIRST */
body {
  background-color: silver;
  font-size: 19px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
nav {
  display:none;
}
nav a {
  padding: 1em;
  display: block;
}
#main-menu {
  display:block;
}
.display-menu {
  display: block;
}
#logo {
  width:500px;
  height: 140px;
  background-color: blue;
}
#logo img {
  width:38%;
  height:100%;
  text-align:left;
  margin-top:5px;
}
/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
  nav a {
    width: 10%;
    display: inline-block;
  }
  main {
    width: 20%;
    margin: 0 auto;
  }
  body {
	background-color:green;
  }
}
/* END FIRST BREAKPOINT */

/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
  nav {
    display: block;
  }
  nav a {
    line-height: 3em;
    width: inherit;
  }
  #main-menu {
    display: none;
  }
  body {
	background-color:pink;
  }
}
/* END SECOND BREAKPOINT */
